.toggleButton {
  cursor: pointer;
  display: block;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: -webkit-transform .14s ease;
  transition: transform .14s ease;
  transition: transform .14s ease, -webkit-transform .14s ease;
}
.toggleButton:active {
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}
.toggleButton input {
  display: none;
}
.toggleButton input + div {
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: relative;
  width: 44px;
  height: 44px;
}
.toggleButton input + div svg {
  fill: none;
  stroke-width: 3.6;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  z-index: 1;
  stroke-dashoffset: 124.6;
  stroke-dasharray: 0 162.6 133 29.6;
  transition: all .4s ease 0s;
}
.toggleButton input + div:before, .toggleButton input + div:after {
  content: '';
  width: 3px;
  height: 16px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
}
.toggleButton input + div:before {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
          transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  -webkit-animation: bounceInBefore .3s linear forwards .3s;
          animation: bounceInBefore .3s linear forwards .3s;
}
.toggleButton input + div:after {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
          transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: bounceInAfter .3s linear forwards .3s;
          animation: bounceInAfter .3s linear forwards .3s;
}
.toggleButton input:checked + div svg {
  stroke-dashoffset: 162.6;
  stroke-dasharray: 0 162.6 28 134.6;
  transition: all .4s ease .2s;
}
.toggleButton input:checked + div:before {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
          transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  -webkit-animation: bounceInBeforeDont .3s linear forwards 0s;
          animation: bounceInBeforeDont .3s linear forwards 0s;
}
.toggleButton input:checked + div:after {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
          transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: bounceInAfterDont .3s linear forwards 0s;
          animation: bounceInAfterDont .3s linear forwards 0s;
}

@-webkit-keyframes bounceInBefore {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes bounceInBefore {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
}
@-webkit-keyframes bounceInAfter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
}
@keyframes bounceInAfter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
}
@-webkit-keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
}
@-webkit-keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
}
@keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #ADAFB6;
  background: #5628EE;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
body .dribbble img {
  display: block;
  width: 76px;
}
