html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #fff, #f0f0f0);
  text-align: center;
  min-height: 600px;
  position: relative;
  height: 100%;
  width: 100%;
}

.bottom {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  right: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.4);
}
.bottom a {
  color: rgba(0, 0, 0, 0.4);
  transition: .27s;
}
.bottom a:hover {
  color: #C25068;
}

svg {
  max-width: 600px;
  margin-top: 40px;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.27);
}

svg .gooey {
  filter: url("#goo");
}

svg .drop, svg .dropTop, svg .drops {
  opacity: 0;
}

svg .toggler {
  cursor: pointer;
}

#boom {
  position: absolute;
  top: -1000px;
  left: -1000px;
  opacity: 0;
}
#boom + div:before {
  content: "unchecked";
  color: rgba(0, 0, 0, 0.4);
}
#boom:checked + div:before {
  content: 'checked';
}
